*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero__heading{
  font-size: 3.28125vw;
}
.hero__text{
  font-size: 1.25vw;
}
.hero__button{
  font-size: 1.5104166666666667vw !important;
  width: 50%;
}
.section__heading{
  font-size: 2.5vw;
}
.hover__button{
  border: 1px solid #3F43AD !important;
  background: transparent !important;
  color: #3F43AD !important;
  border-radius: 0 !important;
  transition: 250ms ease-out !important;
  width: fit-content;
}
.hover__button:hover{
  background-color: #3F43AD !important;
  transition: 250ms ease-in !important;
  color: #ffff !important;
}
.hero__app__buttons{
  width: 50%;
}

.bottom__button{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer__container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F3F3F3;
  min-height: 15vh;
}
.footer__container a{
  color: #000;
  text-decoration: none;
  font-weight: 500;
}
.login__container{
  width: 50% !important;
}

@media screen and (max-width : 900px) {
  .hero__heading{
    font-size: 11.58125vw;
  }
  .hero__text{
    font-size: 5.25vw;
  }
  .hero__button{
    font-size: 4.5104166666666667vw !important;
    width: 100%;
  }
  .hero__app__buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .hero__image{
    display: none;
  }
  .section__heading{
    font-size: 8.5vw;
  }
  .bottom__button{
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .login__container{
    width: 100% !important;
  }
}